<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Forensic.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <applicationSettings>
        <Forensic.Properties.Settings>
            <setting name="excludeTitle" serializeAs="String">
                <value>.*notepad.*</value>
            </setting>
            <setting name="interval" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="excludeProcess" serializeAs="String">
                <value>.*brave.*</value>
            </setting>
        </Forensic.Properties.Settings>
    </applicationSettings>
</configuration>